@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: quicksand;
}
nav{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
}
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo>h2{
  font-size: 32px;
  font-weight: 700;
}
.nav-li>ul{
  display: flex;
  gap: 20px;
}
.nav-li li{
  list-style-type: none;
}
.nav-li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.nav-button>button{
  width: 197px;
  height: auto;
  border-radius: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 163, 1);
  border: none;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 15px;
}
.nav-button>button:hover{
  background-color: rgb(1, 172, 253);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.438) ;
}
.navigation{
  visibility: hidden;
  display: none;
}
/* banner section  */
.banner{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 200px;
}
.banner-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner-content>h1{
  font-size: 66px;
  font-weight: 700;
}
.banner-content>p{
  font-size: 26px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.banner-content button{
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  padding-inline: 40px;
  background-color: black;
  color: white;
  border-radius: 12px;
  width: 197px;
}
main{
  background:  url(../image/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
}
/* card section  */
.card-section{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.card-section>h2{
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.card-container{
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px;
  padding-inline: 90px;
  border-radius: 18px;
  border: 1px solid black;
}
.card>h3{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.card>p{
  font-size: 15px;
  font-weight: 500;
  line-height: 28.3px;
  color: rgb(128, 128, 128);
  text-align: center;
}
.card>a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
.card-1{
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border:  0.94px solid rgb(222, 245, 255);
  box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
}
.card-1>a{
  color: rgb(100, 200, 255);
}
.card-2{
  background:  linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
}
.card-2>a{
  color:rgb(240, 170, 0);
}
.card-3{
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  border: 0.94px solid rgb(242, 232, 255);
  box-shadow: inset 0px 0px 19.16px 0.64px rgba(0, 0, 0, 0.05);
}
.card-3>a{
  color:rgb(135, 0, 255);
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}
#left-icon{
  background-color: rgb(254, 163, 1);
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#right-icon{
  background-color: rgb(254, 163, 1);
  font-size: 30px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left-icon:hover{
  background-color:rgba(1, 173, 253, 0.651);
}
#right-icon:hover{
  background-color: rgb(1, 172, 253);
}
/* stories section  */
.stories{
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-inline: auto;
}
.stories>h2{
  padding: 20px;
  font-size: 46px;
  font-weight: 700;
}
.story-container{
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding-inline: 200px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.story-1{
  width: 541px;
  height: auto;
  border-radius: 18px;
  background-color: white;
}
.story-1>img{
  border-radius: 16px 16px 0px 0px;
}
.story-1>p,h3{
  line-height: 28px;
  padding-inline:50px;
  text-align: left;
}
.story-1>p{
  padding-top: 30px;
  padding-bottom: 50px;
}
.story-1>h3{
  padding-bottom: 20px;
  padding-top: 50px;
  font-size: 24px;
  font-weight: 700;
}
.story{
  margin: 40px auto;
  width: 290px;
  height: 301px;
  background-color: white;
  border-radius: 16px;
}
.story>h3{
  font-size: 15px;
  font-weight: 700;
  border-radius: 16px;
  padding: 30px ;
}
.story>img{
  border-radius: 16px 16px 0 0;
}
.view-button{
  width: 197px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  background-color: black;
  color: white;
  margin: 70px;
}
/* footer section  */
footer{
  width: 100%;
  background-color:  rgb(1, 172, 253);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 519px;
}
.footer-content{
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.footer-content p{
  font-size: 20px;
  font-size: 400;
  color: rgb(255, 255, 255);
  line-height: 25px;
}
.footer-img{
  display: flex;
  align-items: center;
}
.footer-img>h3{
  font-size: 43px;
  font-weight: 700;
  line-height: 39.51px;
  color: white;
}
.footer-about{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-about>h4{
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.footer-about>ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-about a{
  text-decoration: none;
  color: white;
}
.footer-logo{
  display: flex;
  flex-direction: column ;
  gap: 30px;
}
.footer-logo>h4{
  font-size: 26px;
  font-weight: 700;
  color: white;
}
.logos{
  display: flex;
  gap: 10px;
  border-radius: 4px;
}

@media only screen and (max-width:576px){
  nav{
    border-bottom: 2px solid rgb(255, 255, 0);
    width: 100%;
    margin: auto;

  }
  .nav-logo,.navigation{
    padding: 15px;

  }
  .navigation{
    visibility: visible;
    display: block;
    font-size: 26px;
  }
  .nav-logo>h2{
    display: none;
  }
  .nav-li>ul{
    display: none;
  }
  .nav-button{
    display: none;
  }
  /* banner section  */
  
  .banner{
    flex-direction: column-reverse;
    width: 90%;
    gap: 30px;
  }
  .banner-img{
    width: 100%;
  }
  .banner-content{
    gap: 20px;
    text-align: center;
    align-items: center;
  }
  .banner-content>h1{
    font-size: 32px;
    font-family: 700;
  }
  .banner-content>p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(17, 17, 17);
  }
  .banner-content>button{
    width: 131px;
    padding:12px;
    padding-inline: 20px;
    font-size: 16px;
    font-weight: 700;
    border: none;
  }
  /* main section  */
  main{
    background: url(../image/bg.png),linear-gradient(180.00deg, rgba(255, 255, 255, 0),rgba(254, 163, 1, 0.3) 100%);
  }
  /* card-section  */
  .card-section{
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .card-section>h2{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
  }
  .card-container{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px;
    padding-inline: 30px;
    border-radius: 18px;
  }
  .card>h3{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .card>p{
    font-size: 10px;
    font-weight: 500;
    line-height: 19.3px;
    color: rgb(128, 128, 128);
    text-align: center;
  }
  .card>a{
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
  }
  .icon{
    display: none;
  }
  /* story section  */
  .story-1{
    display: none;
  }
  .stories{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-inline: auto;
  }
  .stories img{
    display: block;
  }
  .stories>h2{
    padding-inline: 20px;
    font-size: 26px;
    font-weight: 700;
  }
  .story-container{
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding:0;
    gap: 10px;
  }
  .story2-3,.story3-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
  }
  .story{
    margin:10px auto;
    width: 100%;
    height: 179px;
    background-color: white;
    border-radius: 16px;
  }
  .story>h3{
    font-size: 9px;
    font-weight: 700;
    border-radius: 16px;
    line-height: 20px;
    padding: 15px ;
  }
  .story>img{
    border-radius: 16px 16px 0 0;
    display: block;
    width: 100%;
  }
  .view-button{
    width: 134px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    background-color: black;
    color: white;
    margin: 30px;
  }
  /* footer section  */
  footer{
    width: 100%;
    background-color:  rgb(1, 172, 253);
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    height:auto;
  }
  .footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    padding-inline: 10px;
  }
  .footer-content p{
    font-size: 16px;
    font-size: 400;
    color: rgb(255, 255, 255);
    line-height: 20px;
    padding-inline:10px;
  }
  .footer-img{
    display: flex;
    align-items: center;
  }
  .footer-img>h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 33.51px;
    color: white;
  }
  .footer-about{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
  }
  .footer-about>h4{
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  .footer-about>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .footer-about a{
    text-decoration: none;
    color: white;
  }
  .footer-logo{
    display: flex;
    flex-direction: column ;
    gap: 30px;
    width: 100%;
    padding: 20px;
  }
  .footer-logo>h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
  }
  .logos{
    border-radius: 3.39px;
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
  }
}
